.todo-home-wrapper{
     width: 100%;
   > .tab-container{
     width: 100%;
     padding: 1rem;
   }
   > .main-container{
     width: 100%;
     display: flex;
     min-height: 500px;
     flex: 1;
   }
}