.todo-main-section {
  flex: 4;
  background: #282f4a;
  margin: 0 1rem 1rem 1rem;
  border-radius: 4px;

  > .header {
    width: 100%;
    padding: 11px;
    background: #303752;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;

    > div {
      color: #f6f9ff;
    }

    > .left-col {
      flex: 1;

      > span {
        padding: 0.4rem 0.7rem;
        background: #282f4a;
        margin: 0 0.5rem;
        border-radius: 4px;
        font-size: 14px;
      }
    }

    > .center-col {
      flex: 1;
      text-align: center;
    }

    > .right-col {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      > span {
        padding: 0.4rem 0.7rem;
        background: #282f4a;
        border-radius: 4px;
        font-size: 14px;
      }

      .arrow {
        background: #363f5c;
        padding: 0.6rem 0.3rem;
      }
    }
  }

  > .task-list-container {
    padding: 1rem 1rem 1rem 5rem;
    > .wrapper {
      display: flex;
      > .item {
        flex: 1;
        display: flex;
        color: #f6f9ff;
        box-shadow: 5px 4px 12px -1px rgba(0, 0, 0, 1);
        cursor: pointer;

        > div {
          padding: 10px 6px;
          text-align: center;
        }

        > .date {
          display: flex;
          line-height: 15px;
          flex-direction: column;
          flex: 1;
          font-size: 12px;
          color: #ffffff;
          border-radius: 4px 0 0 4px;
          background: linear-gradient(to right, #4feece, #38d4dd);
          //border-radius: 4px;
          > span:nth-child(1) {
            font-size: 1rem;
            font-weight: 700;
          }

          > span:nth-child(2) {
            font-size: 0.8rem;
            font-weight: 700;
          }
        }

        > .priority {
          flex: 2;
          color: white;
          background: linear-gradient(to right, #fbae27, #f95011);
        }

        > .title {
          flex: 7;
        }

        > .time {
          flex: 2;
          background: linear-gradient(to right, #77a4f2, #a14dff);
        }

        > .end-date {
          flex: 1;
          background: linear-gradient(to right, #fc2922, #bd230e);
          border-radius: 0 4px 4px 0;
        }
      }

      > .action {
        margin: auto 5px;
        > span {
          color: #ffffff;
          cursor: pointer;
          margin: 10px;
        }
      }
    }
  }
}
