.todo-sub-header {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 100%;
  width: 100%;
  color: #e1e2e8;
  > .title {
    grid-area: 1/1/1/1;
    //padding-left: 1.1rem;
    font-size: 24px;
    padding: 1rem 1rem 1rem 2.1rem;
  }
  > .tabs-wrapper {
    grid-area: 1/5/1 / span 2;
    display: flex;
    align-items: center;
    > .tabs-container {
      background: #282f4a;
      border-radius: 4px;
      display: flex;
      > div {
        text-transform: uppercase;
        font-weight: 600;
        padding: 9px;
        font-size: 12px;
        cursor: pointer;
      }

      > div:first-child {
        border-radius: 4px 0 0 4px;
      }

      > div:last-child {
        border-radius: 0 4px 4px 0;
      }

      > .selected {
        background: linear-gradient(to right, #4debcd, #38d4dd);
        color: #f8f9ff;
      }
    }
  }
  > .add-task {
    grid-area: 1/8/1 / span 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    > button {
      display: flex;
      align-items: center;
      padding: 21px 10px;
      border-radius: 4px;
      background: linear-gradient(to right, #4debcd, #38d4dd);
      border-color: #38d4dd;
      > span {
        color: #f8f9ff;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}

.ant-modal-content {
  > .ant-modal-header {
    background: #303752;
    border-color: #303752;
    > .ant-modal-title {
      color: #ffffff;
    }
  }
  > .ant-modal-body {
    background: #282f4a;
    padding: 0;
    color: #ffffff;
    > .form-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      > form {
        > label {
          display: block;
          color: #a5a7b7;
        }
        > input {
          background: #303752;
          color: #a1a7b8;
        }
      }
    }
  }
}
